@font-face {
	font-family: 'icomoon';
	src:url('../font/icomoon.eot?-vgeitk');
	src:url('../font/icomoon.eot?#iefix-vgeitk') format('embedded-opentype'),
	url('../font/icomoon.woff?-vgeitk') format('woff'),
	url('../font/icomoon.ttf?-vgeitk') format('truetype'),
	url('../font/icomoon.svg?-vgeitk#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-check:before {
	content: "\f00c";
}

.icon-close:before {
	content: "\f00d";
}

.icon-cutlery:before {
	content: "\f0f5";
}

.icon-question:before {
	content: "\f128";
}


