.input-field {
	margin-top: 0;
}

#invite-list {

	th:hover {
		cursor: pointer;
	}

	td {
		padding-top: 8px;
		padding-bottom: 8px;
	}

}

hr {
	margin-top: 26px;
	margin-bottom: 26px;
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
	background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
	background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
	background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}

.card hr {
	margin-top: 10px;
	margin-bottom: 10px;
}


.checkboxes {
	margin-top: 25px;
	margin-bottom: 20px;
	text-align: center;

	&-item {
		&:not(:first-of-type) {
			padding-left: 30px;
		}
	}

}

.editable {
	&:hover {
		cursor : pointer;
	}
}

.card-content-title {
	text-decoration: underline;
}

#filter-section {
	transition : transform 0.5s ease;

	&.hide {
		-webkit-transform: translate(0, -280px);
		-moz-transform: translate(0, -280px);
		-ms-transform: translate(0, -280px);
		-o-transform: translate(0, -280px);
		transform: translate(0, -280px);
	}
}
