.input-field {
	margin-top: 0;
}

#invite-list {

	th:hover {
		cursor: pointer;
	}

	td {
		padding-top: 5px;
		padding-bottom: 5px;
	}

}


.checkboxes {
	margin-top: 25px;
	margin-bottom: 20px;
	text-align: center;

	&-item {
		&:not(:first-of-type) {
			padding-left: 30px;
		}
	}

}
