<!DOCTYPE html>
<html ng-app="liste-invite-mariage">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <title>Invités Mariage Thierry & Claire</title>

    <link rel="stylesheet" href="css/e31dce8a.liste-invite-mariage.css"/>
</head>
<body ng-controller="headerController as headerCtrl">

<div class="navbar-fixed">
	<nav class="light-red">
		<div class="container nav-wrapper">
			<a href="#" class="brand-logo">Liste des invités</a>
			<form>
				<div  id="nav-search" class="input-field col s12">
					<input id="search" type="text" ng-model="search.nom" autofocus>
					<label for="search"><i class="mdi-action-search"></i></label>
				</div>
			</form>
		</div>
	</nav>
	<a id="add-button" ng-click="headerCtrl.showAddForm()" class="btn-floating btn-large waves-effect waves-light blue right"><i class="mdi-content-add"></i></a>
	<a id="stats-button" ng-click="headerCtrl.showStats()" class="btn-floating btn-large waves-effect waves-light orange right"><i class="mdi-av-equalizer"></i></a>
</div>

<section ng-view></section>


<script src="js/8f43e19f.liste-invite-mariage.js"></script>

</body>
</html>
