<!DOCTYPE html>
<html ng-app="liste-invite-mariage">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <title>Invités Mariage Thierry & Claire</title>

    <link rel="stylesheet" href="css/5e06271a.liste-invite-mariage.css"/>
</head>
<body ng-controller="headerController as headerCtrl">

<div class="navbar-fixed">
	<nav class="light-red">
		<div class="container nav-wrapper">
			<a href="#" class="brand-logo">Liste des invités</a>

			<form>
				<div  id="nav-search" class="input-field col s12">
					<input id="search" type="text" required ng-model="headerCtrl.search.nom" autofocus>
					<label for="search"><i class="mdi-action-search"></i></label>
				</div>
			</form>

			<ul id="nav-mobile" class="right side-nav">
				<li class="editable" ng-click="toogleFilter()">
					<i class="mdi-av-equalizer left"></i> Statistiques
				</li>
			</ul>
		</div>
	</nav>
</div>

<section ng-view></section>


<script src="js/4d25eb35.liste-invite-mariage.js"></script>

</body>
</html>
