<section id="filter-section">
	<section class="container">
		<section class="row">
			<div class="col m3 s12">
				<form action="">
					<p>
						<input name="category" type="checkbox" id="show-friends" ng-model="showFriends"/>
						<label for="show-friends">Amis</label>
					</p>
					<p>
						<input name="category" type="checkbox" id="show-family" ng-model="showFamily"/>
						<label for="show-family">Famille</label>
					</p>
				</form>
			</div>

			<div class="col m3 s12">
				<form action="">
					<p>
						<input name="cote" type="checkbox" id="show-claire" ng-model="showClaire"/>
						<label for="show-claire">de Claire</label>
					</p>
					<p>
						<input name="cote" type="checkbox" id="show-thierry" ng-model="showThierry"/>
						<label for="show-thierry">de Thierry</label>
					</p>
				</form>
			</div>

			<div class="col s12 m3">
				<form action="#">
					<p>
						<input name="statut" type="radio" id="show-all" ng-model="statut" value="ALL"/>
						<label for="show-all">tous</label>
					</p>
					<p>
						<input name="statut" type="radio" id="show-confirmed-honneur" ng-model="statut" value="ONLY_HONNEUR_CONFIRMED"/>
						<label for="show-confirmed-honneur">présents au vin d'honneur</label>
					</p>
					<p>
						<input name="statut" type="radio" id="show-confirmed-diner" ng-model="statut" value="ONLY_DINER_CONFIRMED"/>
						<label for="show-confirmed-diner">présents au diner</label>
					</p>
				</form>
			</div>

			<div class="col m3 s12">
				<form action="">
					<p>
						<input name="statut" type="radio" id="show-no-answer" ng-model="statut" value="ONLY_UNANSWERED"/>
						<label for="show-no-answer">qui n'ont pas répondu</label>
					</p>
					<p>
						<input name="statut" type="radio" id="show-refused" ng-model="statut" value="ONLY_REFUSED"/>
						<label for="show-refused">qui ne viennent pas</label>
					</p>
					<p>
						<input name="statut" type="radio" id="show-party" ng-model="statut" value="ONLY_PARTY"/>
						<label for="show-party">qui sont invités au diner</label>
					</p>
				</form>
			</div>
		</section>
	</section>

	<div id="stats" class="modal">
		<div class="card">
			<div class="card-image">
				<img src="img/number.jpg">
			</div>
			<div class="card-content">
				<p>{{invites.length}} personnes invités au mariage</p>
				<hr/>
				<div class="row">
					<div class="col m6">
						<h6 class="card-content-title">Vin d'honneur</h6>
						<p>{{honneurAdultes}} adultes</p>
						<p>{{honneurEnfants}} enfants</p>
					</div>
					<div class="col m6 right-align">
						<h6 class="card-content-title">Diner</h6>
						<p>{{dinerAdultes}} adultes</p>
						<p>{{dinerEnfants}} enfants</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<section class="container">
		<div class="row">
			<div class="input-field col s12 m4">
				<button class="waves-effect waves-light btn modal-trigger" ng-click="showAddForm()"><i class="mdi-content-add left"></i>Ajouter un invité</button>
			</div>
		</div>
	</section>

	<hr/>

	<div id="add-form" class="modal" ng-controller="addFormController">
		<h4>Ajouter un invité</h4>
		<form class="col s12" name="addForm" novalidate>
			<div class="row">
				<label>De quel côté de la famille est cet invité ?</label>
				<select class="browser-default" ng-model="cote" name="cote" required ng-options="coteOption as coteOption.label for coteOption in coteOptions"></select>
			</div>
			<div class="row">
				<div class="input-field">
					<input id="nom" type="text" name="nom" ng-model="invite.nom" ng-class="{'invalid' : addForm.nom.$dirty && addForm.nom.$error.required}" required autofocus>
					<label for="nom">Nom et Prénom</label>
					<span class="red-text" ng-show="addForm.nom.$dirty && addForm.nom.$error.required">Le nom est obligatoire</span>
				</div>
			</div>
			<div class="row">
				<div class="input-field">
					<input id="adresse" type="text" name="adresse" ng-class="{'invalid' : addForm.nom.$dirty && addForm.nom.$error.required}" required ng-model="invite.adresse">
					<label for="adresse">Adresse</label>
					<span class="red-text" ng-show="addForm.adresse.$dirty && addForm.adresse.$error.required">L'adresse est obligatoire</span>
				</div>
			</div>
			<div class="row">
				<div class="input-field">
					<input id="enfants" type="number" name="enfants" ng-class="{'invalid' : addForm.nom.$dirty && addForm.nom.$error.required}" required  ng-model="invite.enfants">
					<label for="enfants">Nombre d'enfants</label>
					<span class="red-text" ng-show="addForm.enfants.$dirty && addForm.enfants.$error.required">Le nombre d'enfants est obligatoire</span>
				</div>
			</div>
			<div class="row">
				<label>Réponse pour le vin d'honneur</label>
				<select class="browser-default" ng-model="honneur" name="honneur" required ng-options="honneurOption as honneurOption.label for honneurOption in honneurOptions"></select>
			</div>
			<div class="row">
				<label>Invité au diner</label>
				<p>
					<input name="party" type="radio" id="oui" value="oui" ng-model="party"/>
					<label for="oui">Oui</label>
					<input name="party" type="radio" id="non" value="non" ng-model="party"/>
					<label for="non">Non</label>
				</p>
			</div>
			<div class="row" ng-show="party === 'oui'">
				<label>Réponse pour le diner</label>
				<select class="browser-default" ng-model="diner" name="diner" required ng-options="dinerOption as dinerOption.label for dinerOption in dinerOptions"></select>
			</div>
		</form>
		<button class="waves-effect btn modal-close" ng-class="{'disabled' : addForm.$invalid}" ng-disabled="addForm.$invalid" ng-click="addInvite(invite)">Ajouter</button>
	</div>

	<section class="container">
		<table id="invite-list" class="bordered striped hoverable centered">
			<thead>
			<tr>
				<th class="tooltipped" data-position="top" data-delay="50" data-tooltip="Invitation prête à être envoyé ?" ng-click="order('ready')"><i class="icon-envelope-o"></i></th>
				<th ng-click="order('honneur')">Vin d'honneur</th>
				<th class="tooltipped" data-position="top" data-delay="50" data-tooltip="Invité au diner de mariage ?" ng-click="order('party')"><i class="icon-cutlery"></i></th>
				<th ng-click="order('diner')">Diner</th>
				<th ng-click="order('nom')">Nom</th>
				<th ng-click="order('adresse')">Adresse</th>
				<th ng-click="order('enfants')">Enfants</th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="invite in invites | orderBy:tri:inverse | filter:headerCtrl.search | matchStatut:statut | matchCote:showClaire:showThierry | matchCategory:showFriends:showFamily ">
				<td class="editable" ng-click="switchReady(invite)" width="80px">
					<i ng-class="{'icon-envelope-o' : invite.ready === 'oui'}"></i>
				</td>
				<td class="editable" ng-click="switchStatus(invite, 'honneur')">
					<i ng-class="{'icon-check green-text' : invite.honneur === 'confirmed',
						'icon-question orange-text' : invite.honneur === 'unanswered',
						'icon-close red-text' : invite.honneur === 'refused'}"></i>
				</td>
				<td class="editable" ng-click="switchParty(invite)"  width="80px">
					<i ng-class="{'icon-cutlery' : invite.party === 'oui'}"></i>
				</td>
				<td class="editable" ng-click="switchStatus(invite, 'diner')">
					<i ng-show="invite.party === 'oui'"  ng-class="{'icon-check green-text' : invite.diner === 'confirmed',
						'icon-question orange-text' : invite.diner === 'unanswered',
						'icon-close red-text' : invite.diner === 'refused'}"></i>
				</td>
				<td editable value="invite.nom" on-save="invites.$save(invite)"></td>
				<td editable value="invite.adresse" on-save="invites.$save(invite)"></td>
				<td editable value="invite.enfants" on-save="invites.$save(invite)"></td>
			</tr>
			</tbody>
		</table>
	</section>

</section>
